<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/home"  routerLink="home">Home</a>
      <a mat-list-item href="/admin" routerLink="admin"  *ngIf="isLoggedIn" >Admin Board</a>
      <a mat-list-item href="/mod"   routerLink="mod"  *ngIf="isLoggedIn" >Moderator Board</a>
      <a mat-list-item href="/user" class="nav-link"  *ngIf="isLoggedIn" routerLink="user">User</a>
      <a mat-list-item href="/register" class="nav-link" routerLink="register">Sign Up</a>
      <a mat-list-item href="/login" class="nav-link" routerLink="login">Login</a>
      <div *ngIf="isLoggedIn">
        <mat-nav-list class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </mat-nav-list>
        <mat-nav-list class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </mat-nav-list>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angular-cv-angular</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
